extends layout

block content
  h1= TODOアプリ
  div 
  form(action="/create",method="post").form-inline.mb-3
    div.form-group 
      input(type="text" name="task" placeholder="例：晩御飯を作る").form-control
    button(type="submit").btn.btn-primary 追加

  div.mb-3 
    h2 TODO 
      form(name="todoform" method="post").mb-2
        ul.list-group 
        each todo in todoTasks 
          li.list-group-item.px-5 
            input(name="todos",value=todo.id,type="checkbox",id=`todo-${todo.id}`).form-check-input
            label(for=`todo-${todo.id}`).form-check-label #{todo.task}
    if todoTasks.length 
      button.btn.btn-success(onclick="done()").mr-2 達成
      button.btn.btn-danger(onclick="deleteTodo()") 削除
    else 
      div TODOタスクはありません
  
  div 
    h2 DONE 
    form(name="doneform" method="post").mb-2
      ul.list-group 
      each done in doneTasks 
        li.list-group-item.px-5 
          input(name="todos",value=done.id,type="checkbox",id=`todo-${done.id}`).form-check-input
          label(for=`todo-${done.id}`).form-check-label #{done.task}
      if doneTasks.length 
        button.btn.btn-danger(onclick="deleteDone()") 削除
      else 
        div DONEタスクはありません
  
  script(src="javascripts/todo.js")
